.case-container{
  width:90%;
  margin:auto;
  font-family:Segoe UI;
}

.title{
  text-align:center;
  margin:20px;
  color:#3558a8;
}

/* Filters */
.filters{
  display:flex;
  gap:20px;
  background:#3a3a3a;
  padding:20px;
  border-radius:4px;
}

.filters select{
  padding:10px;
  width:250px;
  border-radius:5px;
}

/* Tabs */
.tabs{
  display:flex;
  margin-top:15px;
}

.tabs button{
  flex:1;
  padding:12px;
  border:1px solid #ccc;
  background:#e6e6e6;
  cursor:pointer;
}

.tabs .active{
  background:rgb(255, 196, 0);
  border-bottom:3px solid #3558a8;
  font-weight:bold;
}

/* Form */
.form-box{
  border:1px solid #ccc;
  padding:25px;
  background:#f9f9f9;
}

.form-row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

.form-row input{
  padding:10px;
  width:250px;
  border-radius:6px;
  border:1px solid #ccc;
}

/* Status */
.status-filter{
  margin:10px 0;
  display:flex;
  gap:20px;
}

/* Captcha */
.captcha-row{
  display:flex;
  gap:15px;
  align-items:center;
  margin-top:15px;
}

.captcha-box{
  background:#ddd;
  padding:10px 20px;
  font-weight:bold;
  font-size:22px;
  letter-spacing:3px;
}

/* Buttons */
.buttons{
  margin-top:20px;
}

.go{
  background:#3558a8;
  color:white;
  padding:10px 25px;
  border:none;
  border-radius:6px;
  margin-right:10px;
}

.reset{
  background:#555;
  color:white;
  padding:10px 25px;
  border:none;
  border-radius:6px;
}
